[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
PIDFile=/run/jupyter.pid
ExecStart={{user_prefix}}/lib/anaconda3/bin/jupyter-notebook
StandardOutput={{user_prefix}}/jupyter.log.out
StandardError={{user_prefix}}/jupyter.log.err
User={{ansible_user}}
Group={{ansible_user}}
WorkingDirectory={{ansible_user_dir}}
Restart=always
RestartSec=10
#KillMode=mixed

[Install]
WantedBy=multi-user.target
